extends ../../layouts/default


block head
	title View Events

block body
	div.row
		div.col-sm-8
			div.page-header
				h1 Business Rules
				if message && message.length
					p #{message}

				script.
					//console.log("test");
					//console.log(#{data.length})
					var businessRuleData = [];
					var Counter = 1;



				table#my_table_id(data-url='data', data-id-field='id', data-editable-emptytext='Default empty text.', data-editable-url='/my/editable/update/path')
					thead
						tr
							th.col-md-4(data-field='typeBusinessRule') BusinessRule
							th.col-md-4(data-field='tagCattegory') Categorie
							th.col-md-4(data-field='lookupValue') Opzoek waarde
							th.col-md-4(data-field='test') test
					each BusinessRule, i in data
						tr
							td #{BusinessRule.typeBusinessRule}
							td #{BusinessRule.tagCattegory}
							td #{BusinessRule.lookupValue}
							td
								a(href='#', id='#{BusinessRule.lookupValue}',data-type='text', data-placement='right', data-title='Opzoekwaarde') #{BusinessRule.lookupValue}

							script.

								if (Counter < #{data.length}) {
									businessRuleData.push('{"lookupValue": "#{BusinessRule.lookupValue}", "tagCattegory": "#{BusinessRule.tagCattegory}", "typeBusinessRule": "#{BusinessRule.typeBusinessRule}"},');
								}
								else {
									businessRuleData.push('{"lookupValue": "#{BusinessRule.lookupValue}", "tagCattegory": "#{BusinessRule.tagCattegory}", "typeBusinessRule": "#{BusinessRule.typeBusinessRule}"}');
								}

								Counter++
			//script(src='../../views/BusinessRules/crossfilter.js' )
			//script(src='../../views/BusinessRules/d3.js' )
			//script(src='../../views/BusinessRules/dc.js' )
			//script(src='../../views/BusinessRules/queue.js' )



			script.
				var dataSet ='';

				for (i in businessRuleData){
					dataSet = dataSet + businessRuleData[i];
				}

				var strBusinessRules = '{"BusinessRules":[' + dataSet + ']}';
				console.log(strBusinessRules);
				jsonBusinessRules = JSON.parse(strBusinessRules);

				console.log(jsonBusinessRules);

			//script(src='../../views/BusinessRules/LoadData.js' )




			div.col-sm-4
			div.page-header
				p
					a(href='/BusinessRules/add', class='btn btn-default') Toevoegen labels
