extends ../../layouts/default

block head
    title View Events
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(type='text/javascript', src='https://s3.amazonaws.com/dynatable-docs-assets/js/jquery-1.9.1.min.js')
    script(type='text/javascript', src='https://s3.amazonaws.com/dynatable-docs-assets/js/jquery.scrollTo.js')
    script(type='text/javascript', src='https://s3.amazonaws.com/dynatable-docs-assets/js/jquery.toc.min.js')
    script(type='text/javascript', src='https://s3.amazonaws.com/dynatable-docs-assets/js/jquery.sharrre-1.2.0.min.js')
    link(rel='stylesheet', media='all', href='https://s3.amazonaws.com/dynatable-docs-assets/css/jquery.dynatable.css')
    script(type='text/javascript', src='https://s3.amazonaws.com/dynatable-docs-assets/js/jquery.dynatable.js')
    script(type='text/javascript', src='https://s3.amazonaws.com/dynatable-docs-assets/js/highcharts.js')
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet")
    script.

        myCurentRecords   =[];
        myUpdatedRecoreds =[];
        Counter = 1 ;
        var txtCurrentValue;
        var newValue = {};
        var id;
        var $th;
        var isLocked = 0;

        String.prototype.ltrim = function () {
            return this.replace(/^\s+/,"");}


            function getNewValue(t, e) {
                if (e.keyCode == 13) {
                    newValue = '{"_id": "' + id + '","' + $th + '": "' + t.ltrim() + '"}';
                    var jsonNewValue = {}
                    jsonNewValue = JSON.parse(newValue);
                    jsonNewValue.updateField = $th;
                    jsonNewValue.updateValue = t.ltrim();

                    $.ajax({
                        url: '/BusinessRules/findApiData',
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify(jsonNewValue)
                    });
                }
            }
            function setTdColor(){

                for (var i = 1; i < jsonMyCurrentRecord.length + 1; i++) {

                    var val1 = $("#tblBusinessRules").find('tr:eq(' + i + ') td:eq(3)').text();
                    console.info(i + ' : ' + val1);
                    if (val1) {
                        console.info(val1);
                        $("#tblBusinessRules").find('tr:eq(' + i + ') td:eq(3)').css('background-color', '#' + val1);
                        $("#tblBusinessRules").find('tr:eq(' + i + ') td:eq(3)').text('');
                    }

                }

            }


block body
    div(id="setMyCurrentRecords")
        each BusinessRule, i in data
            script.

                if (Counter < #{data.length}) {
                    myCurentRecords.push('{"opzoekwaarde": "#{BusinessRule.lookupValue}", "cattegorie": "#{BusinessRule.tagCattegory}", "typeBusinessRule": "#{BusinessRule.typeBusinessRule}","kleur": "#{BusinessRule.cattegorycolor}","_id": "#{BusinessRule._id}"},');
                }
                else {
                    myCurentRecords.push('{"opzoekwaarde": "#{BusinessRule.lookupValue}", "cattegorie": "#{BusinessRule.tagCattegory}", "typeBusinessRule": "#{BusinessRule.typeBusinessRule}","kleur": "#{BusinessRule.cattegorycolor}","_id": "#{BusinessRule._id}"}');
                }
                Counter++

    div(id="getMyCurrentReccords")
        script.
            var strMyCurrentRecord = "";
            for (i = 0; i < #{data.length};i++) {
                strMyCurrentRecord = strMyCurrentRecord + myCurentRecords[i];
            }
            var jsonMyCurrentRecord = JSON.parse('[' +strMyCurrentRecord + ']');

    .container-fluid
        .row
            .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
                h1.page-header BusinessRules
        .row
            br
            br
            .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
                form(method='post', action='/BusinessRules')
                    .table-responsive
                       table.table.table-striped(id="tblBusinessRules")
                            thead
                                tr
                                    th cattegorie
                                    th opzoekwaarde
                                    th typeBusinessRule
                                    th kleur
                                    th _id
                            tbody
                       script.
                           $(document).ready(function(){
                               setTdColor();
                           });

                           $("a").click(function(){
                               console.info('click');
                               console.info($('#tblBusinessRules >tbody >tr').length);
                               console.info($("#tblBusinessRules").find('tr:eq(1) td:eq(1)').text());
                               });






        p
            a(href='/BusinessRules/add', class='btn btn-default') Toevoegen labels
        p
            button.btn.btn-primary(type='button' id='sentiment') add Sentiment
            script.
                $('#sentiment').click(function () {
                    $.ajax({
                        url: '/BusinessRules/sentiment',
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify({message: 'Maak sentiment'}),
                        success: function (response) {
                            console.info(response)
                            //translateSearchResult(response)
                        }
                    });
                })



