extends ../../layouts/default

block head
    title View Events
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(type='text/javascript', src='https://s3.amazonaws.com/dynatable-docs-assets/js/jquery-1.9.1.min.js')
    script(type='text/javascript', src='https://s3.amazonaws.com/dynatable-docs-assets/js/jquery.scrollTo.js')
    script(type='text/javascript', src='https://s3.amazonaws.com/dynatable-docs-assets/js/jquery.toc.min.js')
    script(type='text/javascript', src='https://s3.amazonaws.com/dynatable-docs-assets/js/jquery.sharrre-1.2.0.min.js')
    link(rel='stylesheet', media='all', href='https://s3.amazonaws.com/dynatable-docs-assets/css/jquery.dynatable.css')
    script(type='text/javascript', src='https://s3.amazonaws.com/dynatable-docs-assets/js/jquery.dynatable.js')
    script(type='text/javascript', src='https://s3.amazonaws.com/dynatable-docs-assets/js/highcharts.js')
    link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", rel="stylesheet")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")


    script.
        myCurentRecords   =[];
        myUpdatedRecoreds =[];
        Counter = 1 ;
        var txtCurrentValue;
        var newValue;
        var id;
        var $th;

        String.prototype.ltrim = function () {
            return this.replace(/^\s+/,"");
        }


block body
    div(id="setMyCurrentRecords")
        each BusinessRule, i in data
            script.

                if (Counter < #{data.length}) {
                    myCurentRecords.push('{"opzoekwaarde": "#{BusinessRule.lookupValue}", "cattegorie": "#{BusinessRule.tagCattegory}", "typeBusinessRule": "#{BusinessRule.typeBusinessRule}", "_id": "#{BusinessRule._id}"},');
                }
                else {
                    myCurentRecords.push('{"opzoekwaarde": "#{BusinessRule.lookupValue}", "cattegorie": "#{BusinessRule.tagCattegory}", "typeBusinessRule": "#{BusinessRule.typeBusinessRule}", "_id": "#{BusinessRule._id}"}');
                }
                Counter++

    div(id="getMyCurrentReccords")
        script.
            var strMyCurrentRecord = "";
            for (i = 0; i < #{data.length};i++) {
                strMyCurrentRecord = strMyCurrentRecord + myCurentRecords[i];
            }
            var jsonMyCurrentRecord = JSON.parse('[' +strMyCurrentRecord + ']');


    .container-fluid
        .row
            .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
                h1.page-header BusinessRules
                .row.placeholders
                    .col-xs-6.col-sm-3.placeholder
                        img.img-responsive(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', width='200', height='200', alt='Generic placeholder thumbnail')
                        h4 Label
                        span.text-muted Something else
                    .col-xs-6.col-sm-3.placeholder
                        img.img-responsive(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', width='200', height='200', alt='Generic placeholder thumbnail')
                        h4 Label
                        span.text-muted Something else
                    .col-xs-6.col-sm-3.placeholder
                        img.img-responsive(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', width='200', height='200', alt='Generic placeholder thumbnail')
                        h4 Label
                        span.text-muted Something else
                    .col-xs-6.col-sm-3.placeholder
                        img.img-responsive(src='data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==', width='200', height='200', alt='Generic placeholder thumbnail')
                        h4 Label
                        span.text-muted Something else
        .row
            br
            br
            .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
                form(method='post', action='/BusinessRules')
                    .table-responsive
                       table.table.table-striped(id="tblBusinessRules")
                            thead
                                tr
                                    th cattegorie
                                    th opzoekwaarde
                                    th typeBusinessRule
                                    th _id
                            tbody
                       script.
                            $('#tblBusinessRules').dynatable({
                                dataset: {
                                records: jsonMyCurrentRecord
                                }
                                });

                            $('td').on(
                             {dblclick: function() {
                                txtCurrentValue = $(this).text();
                                id = $(this).closest('tr').find('td:last').text();
                                $th = $('table thead tr th').eq($(this).index()).text();
                                $(this).replaceWith('<input type="text" name=" ' + id + ' " value=" ' + txtCurrentValue + ' " onkeypress="getNewValue($(this).val(),event)"/>');
                                }}
                            );

                            function getNewValue(t,e){
                                console.info("getNewValue()");
                                if (e.keyCode == 13){
                                   newValue =  '{"_id": "' + id + '","' + $th + '": "' + t.ltrim() + '"}';
                                   var jsonNewValue = JSON.parse(newValue);

                                    $.ajax({
                                        url:'/BusinessRules/findApiData',
                                        type:'POST',
                                        contentType: 'application/json',
                                        data: JSON.stringify(jsonNewValue) });
                                    }
                            }






.page-header
        p


            a(href='/BusinessRules/add', class='btn btn-default') Toevoegen labels
